---
layout: base
title: Blog
---
<div class="page-body">
    <h1>Blog</h1>
    <div class="searchbar-container">
        <input type="text" placeholder="" id="searchbar" onkeyup="filterBlogPosts()">
    </div>
    <div class="catfilter-container">
        <div>
            {% for tag in site.tags %}
                <button id="catfilter-{{ tag[0] }}" class="catfilter-item" onclick="toggleCategoryFilter(this.id,'{{ tag[0] }}')" > {{ tag[0] }} </button>
            {% endfor %}
        </div>
        <div>
            results: <span id="results_count"></span>
        </div>
    </div>
    <div class="blog-list">
        {% for post in site.posts %}
            <div class="blog-list-item" onclick="location.href='{{ post.url }}';">
                <img class="blog-list-item-img" src="{{ post.image }}">
                <h4 href="{{ post.url }}">
                    <a>{{ post.title }}</a>
                </h4>
                <h6>
                    {{ post.date | date: "%-d %B %Y" }}
                </h6>
                <div>
                    {{ post.excerpt }}
                </div>
                <h6>
                    tags:
                    {% for tag in post.tags %}
                        <span class="tag">{{ tag }}</span>
                    {% endfor %}
                </h6>
            </div>
        {% endfor %}
    </div>
    <script>
        // This block gets executed when the DOM is ready
        //      -> so the list of posts is available here
        // self executing function here
        (function() { // the DOM will be available here
            filterBlogPosts()
        })();
    </script>
</div>
