---
layout: base
title: kruemelmann's website
---

<!-- stars container -->
<canvas id="stars-container">
</canvas>

<!-- import wasm scripts -->
{% include wasm.html %}

<div class="headline">
    <h1 class="headline-item">welcome</h1>
    <span class="headline-item">to my little website playground</span>
</div>

<!-- scroll down button -->
<a class="scroll-down " onclick="scrollDown()">
    <i class="fa fa-angle-down"></i>
</a>

<!-- cards -->
<div class="card-container">
    {% for post in site.posts %}
    <div class="card" onclick="location.href='{{ post.url }}';" style="cursor: pointer;">
        <div class="container" >
            <h4><b><a>{{ post.title }}</a></b></h4>
            <h5>{{ post.date |  date: "%B %e, %Y" }}</h5>
            <p>{{ post.excerpt }}</p>
          <!-- only show last 5 posts, others can be scrolled -->
        </div>
    </div>
    {% endfor %}
</div>

