<footer>
    <ul style="list-style-type: none;">
        {% for item in site.data.sozials %}
            <li class="navbar-item sozials" style="float: right;">
                <a href="{{ item.link }}" target="_blank"
                    {% if item.name == "Github" %}
                       class="fa fa-github"
                    {% endif %}
                    {% if item.name == "Twitter" %}
                       class="fa fa-twitter"
                    {% endif %}>
                </a>
            </li>
        {% endfor %}
    </ul>
</footer>
