<nav>
    <div class="logo">
        <a href="/">
            kruemelmann's
        </a>
    </div>
    <ul class="navbar">
        {% for item in site.data.navigation %}
            <li class="navbar-item">
                <a href="{{ item.link }}" {% if page.url == item.link %}{% endif %}>
                    {{ item.name }}
                </a>
            </li>
        {% endfor %}
        {% for item in site.data.sozials %}
            <li class="navbar-item sozials">
                <a href="{{ item.link }}"
                    {% if item.name == "Github" %}
                       class="fa fa-github"
                    {% endif %}
                    {% if item.name == "Twitter" %}
                       class="fa fa-twitter"
                    {% endif %}>
                </a>
            </li>
        {% endfor %}
    </ul>
</nav>
