<!-- Scripts(wasm) -->
<script src="https://golang.org/misc/wasm/wasm_exec.js"></script>

<script type="text/javascript">
    async function run(fileUrl) {
        const file = await fetch(fileUrl);
        const buffer = await file.arrayBuffer();
        const go = new Go();
        const { instance } = await WebAssembly.instantiate(buffer, go.importObject);
        try {
            go.run(instance);
        } catch (err) {
            console.error(err);
        }
    }
    setTimeout(() => run("assets/js/game.wasm"));
</script>
