.blog-list{
    margin-top: 20px;
    padding: 0;
    list-style-type: none;
    background-color: #212121;
}

.blog-list-item{
    background-color: #303030;
    margin-bottom: 15px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
