.card-container {
    display: flex;
    width: 90%;
    margin: auto;
    justify-content: start;
    align-items: stretch;
    flex-display: row;
    flex-wrap: wrap;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 20%;
    margin: 10px;
    background-color: #242424;
    border-radius: 10px;
}

.card:hover {
    box-shadow: 0 5px 8px 0 rgba(0,0,0,0.7);
    background-color: #292929;
}

.container {
    padding: 2px 16px;
}
