body, html {
    font-family: 'Roboto Mono', monospace;
    //font-family: 'Fuzzy Bubbles', cursive;
    margin: 0;
    height: 100%;
    width: 100%;

    // TODO add theme toggle (default dark theme)
    background-color: #212121;
    color: white;
}

a:link, a:visited {
    text-decoration: none;
    font-weight: bold;
}

a {
    color: red;
}

.page-body{
    margin: 50px;
}

button {
    color: #333;
    width: auto;
    text-align: center;
    padding: 0 10px;
    background: #f0f0f0;
    line-height: 1.5em;
    height: auto;
}

button.active {
    background: black;
    color: #fff;
}
