@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');

body, html {
    font-family: 'Roboto Mono', monospace;
    margin: 0;
    height: 100%;
    width: 100%;
}

a:link, a:visited {
 text-decoration: none;
}

header {
    width: 100%;
    background-color: lightgrey;
}

nav {
    box-shadow: 0 2px 4px -1px rgba(0,0,0,0.25);
    display: flex;
    justify-content: space-between;
}

.logo {
    margin: 15px;
    font-size: 2em;
    width: 10%;
    align-self: flex-start;
}

.navbar{
    margin: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;;
}


.navbar-item {
  margin: 10px;
  margin-right: 20px;
  padding: 0;
  list-style: none;
  font-size: 1.5em;
}

footer{
    background-color: lightgrey;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.blog-list{
    margin: 50px;
    list-style-type: none;
}

.blog-body{
    margin: 50px;
}

////Stars
#stars-container {
    background: #000000;
    width: 90%;
    height: 50vh;
    border-radius: 15px;
    padding: 0;
    margin: auto;
    margin-top: 5px;
    display: block;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.headline {
    position: absolute;
    color: white;
    z-index: 100;
    align-items: center;
    flex-direction: column;
    top: 20%;

    left: 50%;
    right: 50%;
}


.headline-item {
    display: block ruby;
}


.card-container {
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 10%;
    margin: 10px;
}

.card:hover {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.7);
}

.container {
    padding: 2px 16px;
}
